* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  font-family: 'Arial', sans-serif;
}

.menu-cover {
  position: relative;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5); /* Oscurece el fondo */
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  color: #fff;
}

.restaurant-name {
  font-size: 3rem;
  margin-bottom: 10px;
}

.tagline {
  font-size: 1.5rem;
  margin-bottom: 20px;
  font-style: italic;
}

.view-menu {
  padding: 10px 20px;
  font-size: 1rem;
  color: #fff;
  background-color: #ff6347;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.view-menu:hover {
  background-color: #ff4500;
}
html {
  --s: 51px;
  --c1: #98855d;
  --c2: #476074;
  --_g: #0000 83%, var(--c1) 85% 99%, #0000 101%;
  background: radial-gradient(27% 29% at right, var(--_g)) calc(var(--s) / 2) var(--s), radial-gradient(27% 29% at left, var(--_g)) calc(var(--s) / -2) var(--s), radial-gradient(29% 27% at top, var(--_g)) 0 calc(var(--s) / 2), radial-gradient(29% 27% at bottom, var(--_g)) 0 calc(var(--s) / -2) var(--c2);
  background-size: calc(2* var(--s)) calc(2* var(--s));
}
